#page_seo.tab-content.well
  .horizontal-form
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :seo_title
      .horizontal-form-content
        = f.text_field :seo_title, placeholder: Spina::Page.human_attribute_name(:seo_title_placeholder), value: f.object.read_attribute(:seo_title)

    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :description
        %small= Spina::Page.human_attribute_name :description_description
      .horizontal-form-content
        = f.text_field :description, placeholder: Spina::Page.human_attribute_name(:description_placeholder)

    .horizontal-form-group
      .horizontal-form-label
        Meta keywords
        %small Separate keywords with commas
      .horizontal-form-content
        = f.text_field :keywords, placeholder: "Keywords"

    .horizontal-form-group
      .horizontal-form-label
        Meta author
      .horizontal-form-content
        = f.text_field :author, placeholder: "Author"

    .horizontal-form-group
      .horizontal-form-label
        Additional meta
        %small Format as "name;content|name;content|name;content"
      .horizontal-form-content
        = f.text_field :author, placeholder: "Additional meta tags"

    - unless @page.new_record?
      .horizontal-form-group
        .horizontal-form-label
          = Spina::Page.human_attribute_name :materialized_path
        .horizontal-form-content
          = f.text_field :materialized_path, disabled: true
