.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = link_to select_admin_attachments_path(f.object_name, selected_attachment_id: f.object.structure_partable_id.try(:id)), remote: true, class: 'media_picker clearfix' do
    .placeholder
      %span.button.button-small.button-round
        %i.icon.icon-dots
        = t('spina.choose_from_library')

    - if f.object.structure_partable && f.object.structure_partable.file.present?
      .attachment= f.object.structure_partable.name

    = f.hidden_field :structure_partable_id

  - if f.object.structure_partable && f.object.structure_partable.file.present?
    %a.delete-attachment{ onclick: "return confirm('Are you sure you want to remove this attachment from the page? This page will be reloaded afterwards and any other unsaved changes will be lost.')", href: "/admin/structure_parts/destroy/#{f.object.id}" }
      %i.icon.icon-trash
